header {
    background-color: rgb(31,41,55);
}

header .top-section {
    justify-content: space-between;
    display: flex;
}

.header-logo {
    text-decoration: none;
    color: white;
}

.header-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(197,200,206);
}