body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header, footer {
    background-color: #1F2937;
}

.illustrations-section,
.call-to-action-section{
    background-color: white;
}

.quote-section {
    background-color: #E5E7EB;
}

.width-limiter {
    max-width: 1080px;
    margin: auto;
}

header .top-section {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.header-logo {
    color: #F9FAF8;
    text-decoration: none;
    font-size: 24px;
    font-weight: bolder;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 90px 30px 120px 30px;
}

.hero-section h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 8px 0;
}

.top-section .header-nav,
.hero-section p {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
}

.top-section .header-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 24px;
}

button {
    padding: 8px 32px;
    font-weight: bold;
    font-size: large;
    margin: 12px 0;
}

.illustrations-section {
    text-align: center;
}

.illustrations-section .images-container {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin: 64px 0;
}

.image-and-description {
    max-width: 160px;
}

.image-and-description .image-subtext {
    margin: 4px;
}

button,
.call-to-action-section .banner {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 6px; 
}

.call-to-action-section button {
    border: 2px solid white;
}

.hero-section button {
    border: 2px solid transparent;
}

.illustrations-section h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.quote-section {
    padding: 128px;
}

.quote-section .quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    margin: auto;
    max-width: 800px;
}

.quote-section .author {
    color: #202a38;
    font-weight: bolder;
    font-size: 24px;
    margin: 8px auto;
    max-width: 800px;
    text-align: end;
}

footer {
    color: #E5E7EB;
}